@tailwind base;
@tailwind components;
@tailwind utilities;


/* t/bnierimi */
.ink.ink-mde {
  border: transparent;
}

.ink-mde .ink-mde-details {
  visibility: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #1a1a1a;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.h-mobileScreen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* 
.prose :is(h2, h3, h4, h5, h6) {
	margin-top: var(--size-8);
	margin-bottom: var(--size-3);
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
	margin-top: var(--size-7);
}

.prose :is(ul, ol) {
	list-style-type: '🔥';
	padding-left: var(--size-5);
}

.prose :is(ul, ol) li {
	margin-block: var(--size-2);
	padding-inline-start: var(--size-2);
}

.prose pre {
	max-inline-size: 100%;
	padding: 1rem;
	border-radius: 8px;
	tab-size: 2;
} */